@font-face {
    font-family: 'pt_sans_narrowbold';
    src: url('../fonts/pt_sans_narrow_bold-webfont.eot');
    src: url('../fonts/pt_sans_narrow_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans_narrow_bold-webfont.woff2') format('woff2'),
         url('../fonts/pt_sans_narrow_bold-webfont.woff') format('woff'),
         url('../fonts/pt_sans_narrow_bold-webfont.svg#pt_sans_narrowbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
ul{
	list-style: none;
}

*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font: 14px/1 'pt_sans_narrowbold', Tahoma, Arial, sans-serif;
	color: #6e6e6e;
	background: #d0d0d0;
	
}
.home {
	background: url(../images/background.png);
}
.wrapper {
	position: relative;
	padding-top: 72px;
	background:url(../images/shadow.png);
	overflow: hidden;

}
.container{
	max-width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}
.header {
	max-width: 1200px;
	width: 100%;
	z-index: 4;
	position: fixed;
	top:0;
	left:50%;
	transform: translateX(-50%);

	
}
.header .container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;


}

.header a{
	display: block;
	padding: 30px 0;
	position: relative;
	color:#fff;
	text-transform: uppercase;
	font-size: 16px;
	text-decoration: none;
}
.navigation ul {
	display: flex;
	align-items: center;


}
.title-shop h2 {
	padding-top:60px;

}
.title-shop30 {
	font-size: 30px;
	color: #000;
	font-weight: normal;

}
.breadcrumb {
	width: 155px;
	display: flex;
	justify-content: space-between;
	padding: 30px 0 65px 0;
	align-items: center;
}
.breadcrumb a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
}
.shape16 {
	
	display:inline-block;
	width:10px;
	height:10px;
	background-color:#000;
	transform:rotate(45deg);
	position: absolute;
    right: -23px;
    top: 1px;
}

.icons a{
	display: block;
	padding: 30px 0;
	position: relative;
	color:#fff;
	text-transform: uppercase;
	font-size: 16px;
	text-decoration: none;
} 
.navigation li {
	padding: 0 21px;
}
.enter1{
    
    position: relative;
    padding-left: 200px;
}

/*.	content: '';
	width: 17px;
	height: 14px;
	background-image: url(../images/enter1.png);
	position: absolute;
    left: -34px;
    top: calc(50% - 7px);
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;

}*/
body:not(.home) .navigation {
	margin: 0 -9999px;
	padding: 0 9999px;
}
.baner {
	height: 204px;
	width: 368px;
    min-width: 368px;
	overflow: hidden;

}
.baner img {
	padding-left: 15px;
}
.baner-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}
.main {
	padding-top: 55px;
}
.info-wrap {
	line-height: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.info-wrap h2 {
	font-size: 30px;
	color: #fff;
	font-weight: normal;
}
.info-wrap p {
	color: #fff;
}
.left-text {
	width: 33%;
	padding: 0 30px 0 25px;
}
.middle-text {
	width: 33%;
	padding: 0 22.5px 0 30px;
}
.right-text {
	width: 33%;
	padding: 0 8px 0 22.5px;
}
.main-content {
	min-height: 60vh;
}
.shop-store {
min-height: 60vh;
	background:url(../images/bockground-shop.png);
}

.shape15 {
	margin-top: 25px;
	margin-bottom: 35px;
	display:inline-block;
	width:30px;
	height:30px;
	background-color:#FFFFFF;
	transform:rotate(45deg)
}
.navigation li {
	position: relative;

}

.navigation li.active a{
	border-bottom: 4px solid #fff;
	padding-bottom: 26px;
}
.navigation {
	position: relative;
	background: #000;
	width: 100%;
	white-space: nowrap;
	display: flex;
	justify-content: space-between;
}
.navigation li:hover,
.navigation li:focus,
.login:hover,
.login:focus{
    
	background: rgba(255,255,255,.1);
}

.login {
	padding-left: 20px;
	   margin-left: 75px;
}
.login>a{
	padding-left: 32px;
	padding-right: 21px;
	position: relative;
}
.login>a:before{
    content: '';
    width: 19px;
    height: 16px;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    background-image: url("../images/icon1.png");
    opacity: 0.5;
}
.login>a:hover:before{
	opacity: 1;
}
.enter ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	padding: 0 20px;

}
.enter img {
	width: 100%;
	height: 14px;
	padding-right: 13px;
	opacity:0.6;

filter: alpha(opacity=60) #fff;
}
.enter img:hover {
  opacity: 1;
}

.enter ul:hover {
	background: rgba(255,255,255,.1);

}


#toggle {
	display: none;
}
.news-log-wrap {
	background-image: url(../images/cover.png);
	display: flex;
	justify-content: space-between;
	line-height: 1.2;
	color:#000;
	margin-top: 85px;

}
.news-main {
	width: 50%;
	padding: 55px 77px 55px 80px;
}

.photo-galary {
	width: 50%;
	padding: 55px 80px 55px 90px;
}
.photo-wrap {
	width: 285px;
	height: 165px;

}
.photo-wrap a{
	padding: 0;
}
.photo-wrap img {
	width: 100%;
	border: 7px solid #fff;

}

.photo-buttons button {

	width: 48%;
	padding: 17px 0;
	color: #fff;
	background:#000;
	cursor: pointer;
	text-transform: uppercase;
}
.btn {
	width: 48%;
	padding: 17px 0;
	color: #fff;
	background:#000;
	cursor: pointer;
	text-transform: uppercase;
}
.news-main button {

	width: 48%;
	padding: 17px 0;
	color: #fff;
	background:#000;
	cursor: pointer;
	text-transform: uppercase;

}
.news-main .date-after{
	font: 14px/1 georgia, Tahoma, Arial, sans-serif;
	font-style: italic;
	padding-bottom: 35px;
}

.photo-buttons {
	padding-top: 37px;
	display: flex;
	justify-content: space-between;

}

.news-log-wrap h2 {

	   font-size: 30px;
    font-weight: normal;
    padding-bottom: 40px;
}
.contact-log-wrap{
	background-image: url(../images/cover.png);
	display: flex;
	justify-content: space-between;
	line-height: 1.5;
	color:#000;
	padding: 55px 0 65px 0;
	margin: 50px 0 65px 0;
}
.contact-info {
	width: 50%;
	padding: 0 65px 0 80px;
	
}

.contact-log-wrap h2 {
	font-size: 30px;
	    font-weight: normal;
	     
}
.contact-info p:nth-child(4) {
	padding-bottom: 40px;
	
}
.contact-info p:nth-child(2) {
	padding-top: 40px;
	
}
.register-wrap {
	width: 50%;
	padding: 0 80px 0 90px;
}
.register-wrap p {
	padding: 45px 0 35px 0;
}
.datetime-wrap{
	width: 100%;
}

.register-wrap input {
	width: 46%;
	padding: 15px 0 15px 15px;
	border: 2px solid #000;
	
	margin-bottom: 20px;

}
#date {
	margin-right: 20px;
}
#yourname {
	margin-right: 20px;
}
.contact-info button {
	margin-top: 55px;
    margin-right: 20px;
	width: 40%;
	padding: 17px 0;
	color: #fff;
	background:#000;
	cursor: pointer;
}

.register-wrap button {
	width: 100%;
	padding: 17px 0;
	color: #fff;
	background:#000;
	cursor: pointer;
}
button:focus {
	background: #663d15;
	outline:none;
}
button:hover {
	background: #663d15;
	outline:none;
}
.footer {
	background-image: url(../images/footer.png);
	color: #fff;
	line-height: 1.5;
}
.footer-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 65px 0;
}
.animate1:hover {
	content: '';
	background-image: url(../images/v2.png);
}
.vk { 
background: url(../images/v.png) no-repeat 50% 27%;  


}

.vk:hover { 
background: url(../images/v2.png) no-repeat 50% 27%;
}
.fb { 
background: url(../images/f.png) no-repeat 50% 27%;  


}

.fb:hover { 
background: url(../images/f2.png) no-repeat 50% 27%;


}
.inst { 
background: url(../images/inst.png) no-repeat 50% 27%;  


}

.inst:hover { 
background: url(../images/inst2.png) no-repeat 50% 27%;


}
.icons p{
	width: 43px;
	height: 43px;
	background-color: #000;
	

}
.icons p:hover {
	background-color: #fff;
}
.icons {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	
}
.developers {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.developers span {
	padding: 15px 30px;
	
	background: #000;
}
.developers span:hover {
	background:#fff;
	color: #000;
}

#logins {
	margin-top: 55px;
    margin-right: 20px;
	width: 40%;
	padding: 17px 0;
	color: #fff;
	background:#000;
}
.popup-wrapper{

	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.5);
	z-index: 100;
	color:#000;
}
.popup-inner{
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.popup{
	background-image: url(../images/cover.png);
	width: 100%;
	max-width: 460px;
	
	padding: 45px 80px 60px;
	max-height: 100%;
	overflow-y: auto;
	position: relative;
}
.popup .title30{
	margin: 0 0 20px;
	font-size: 30px;

}
.popup p{
	font-size: 14px;
	text-transform: uppercase;
	
	line-height: 24px;
	margin: 0 0 20px;
}
.popup form{
	background: none;
	padding: 0;
}
.mobile-menu {
	width: 40px;
	height: 2px;
	background:#fff;
	position: relative;
	cursor: pointer;
	margin-left: 20px;
	display: none;
	margin-top: 20px;
}
.mobile-menu:before {
	content: '';
	position: absolute;
	left: 0;
	bottom:100%;
	width: 100%;
	border-top: 2px solid #fff;
	padding-bottom: 6px;
}
.mobile-menu:after {
	content: '';
	position: absolute;
	left: 0;
	top:100%;
	width: 100%;
	border-bottom: 2px solid #fff;
	padding-top: 6px;
}
.socials {
	width: 15%;
	text-align: center;
}

.login-field, .pass-field{
	position: relative;
	width: 100%;
}
.login-field input, .pass-field input{
	display: block;
	padding-right: 40px;
	width: 100%;
	margin: 0 0 10px;
	padding:15px 0 15px 15px;
	color: #000;
	background:#f9f6f3;
	border: 2px solid #000;
}
.login-field:after,
.pass-field:after{
	content: '';
	width: 15px;
	height: 17px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 13px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50%;
}
.login-field:after{
	background-image: url("../images/loginico.png");
}
.pass-field:after{
	background-image: url("../images/passico.png");
}
.forgot{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.forgot input{
	display: inline-block;
}
.forgot input[type=text]{
	width: 100%;
	padding: 15px 0;
	color: #fff;
	background:#000;
}
input[type=checkbox]{
	width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
}
input[type=checkbox] + label{
	text-transform: uppercase;
	
	padding-left: 33px;
	position: relative;
	line-height: 20px;
	cursor: pointer;
}
input[type=checkbox] + label:before{
	content: '';
	width: 20px;
	height: 20px;
	border: 2px solid #000;
	position: absolute;
	left: 0;
	top: -3px;
}
input[type=checkbox]:checked + label:before{
	background: url("../images/cross.png") no-repeat 50%;
	background-size: 15px;
}
.checkbox-1 input[type=checkbox] + label{
	display: inline-block;
	margin:0 auto;
	
}
.manufacturers {
	color:#000;
	    flex-wrap: wrap;
}
.checkbox-manuf {
	height: 235px;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 25px;
}
.photo-price {
	width: 74%;
	justify-content: space-between;
	flex-wrap: wrap;
}
.Baxter-wrapper{
	width:32%;
	background:#fff;

}
.shop-span {
	padding: 1px 10px;
	margin-top: 35px;
}
.upper-p {
	text-transform: uppercase;
	color:#000;
}
.flex {
	display: flex;
}
.radio-manuf {
	
    display: flex;
    justify-content: space-between;
}
.Accessories-wrap {
	    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-transform: uppercase;
       padding-right: 74px;
}
.Accessories2{
  display: block;
  position: relative;

  cursor: pointer;

padding-left: 41px;
    padding-top: 3px;

  user-select: none;
}
.buy-button {
	text-align: center;
    width: 75%;
    padding: 17px 0;
    color: #fff;
    background: #000;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 1;
    

}
.buy-button a{
	text-decoration: none;
	color: #fff;
}
.Accessories2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #000;
  }
  .Accessories2 input:checked ~ .checkmark {
  background-color: #FFF;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  
}
.shadow {
     
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    
   }
 
 
 .scroll-pages a:focus {
 	background:#fff;
 	color: #000;
 }
 .scroll-pages {
 	padding: 45px 0 50px 0;
 	
 }
 .scroll-pages a:hover{
 	background: #663d15;
 }
 .scroll-pages a {

text-decoration: none;
color: #fff;

   	background: #000;
   	    height: 43px;
    width: 43px;
    display: flex;
    justify-content: center;
    align-items: center;


 }
.squere {
	padding-right: 7px;
}
.Accessories2 input:checked ~ .checkmark:after {
  display: block;
}
.Accessories2 .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #000;
}
.Accessories-side {
	padding-top: 20px;
}

.price-button {
	width: 100%;
    padding: 17px 0;
    
    background: #e5e5e5;
    cursor: pointer;
    text-transform: uppercase;
        text-align: center;
}
.photo-price form {
	    width: 65%;
}
.Baxter-wrapper img {
	width: 100%;
}
.Baxter-name {
	padding: 15px 0 0 15px;
}
.Baxter-button{
	justify-content: space-between;
	position: relative;
	padding: 15px 15px;

}
.Baxter-button input {
    width: 100%;
    padding: 17px 0;
    color: #fff;
    background: #000;
    cursor: pointer;
    text-transform: uppercase;
    }
	

.buy-button:hover,
.buy-button:focus {
	background: #663d15;
	outline:none;
}
.checkbox-manuf label:hover {
	color: #663d15;
}
.Accessories-wrap label:hover {
	color: #663d15;
}

/*.container label{
	font-size: 40px;
	line-height: 2;
	position: absolute;
	left:90px;
	top:10px; 
	display: none;
}*/
.manufacturers-aside {
	width: 26%;
}
.popup label:hover {
	color: #663d15;
}
.popup button {
    width: 100%;
    padding: 17px 0;
    color: #fff;
    background: #000;
    margin-top: 17px;
    border:none;
    text-transform: uppercase;
    cursor: pointer;
 }
 .popup button:hover {
 	background: #663d15;
	outline:none;

 }
.forgot a{
	text-transform: uppercase;
	text-decoration: underline;
	color: #000;
	
}
.forgot div + div{
	text-align: right;
}
.close-popup{
	width: 21px;
	height: 21px;
	position: absolute;
	right: 15px;
	top: 15px;
	background: url("../images/x.png") no-repeat 50%;
	background-size: cover;
	cursor: pointer;
}
.close {
	width: 21px;
	height: 21px;
	position: absolute;
	right: 5px;
	top:5px;
	background: url("../images/maincross.jpg") no-repeat 50%;
	background-size: cover;
	cursor: pointer;
}

.close {
    display: block;
    position: absolute;
    top: 55px;
    right: -50px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.close:before,
.close:after {
	content: '';
	position: absolute;
	background: #818181;
	width: 4px;
	top: 0;
	bottom: 0;
}
.close:before{
	right: 5px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.close:after {
	left: 15px;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.active {
	display: block;
}
input:focus {
	outline:0;
  border: 2px solid #663d15;
}
.breadcrumb li:nth-child(1) {
	position: relative;
}
@media only screen and (max-width: 900px) {
.mobile-menu {
	display: block;

}
.navigation > ul{
		position: absolute;
		display: block;
		top: 100%;
		width: 300px;
		background: #000;
		left: -500px;
		transition: 0.4s;
		max-height: calc(100vh - 52px);
		height: 100vh;
		overflow-y: auto;
}
.navigation > ul.active {
left: 0;
}
.register-wrap input {
    width: 100%;
}
.contact-info button {
    
    margin-right: 10px;
    width: 43%;
    }
.login {
    padding-left: 20px;
    margin-left: 675px;
}
@media only screen and (max-width: 760px) {
	.mobile-menu {
   
    margin-bottom: 13px;
}


.container	label {
	display: block;
	cursor: pointer;

}
.header .container {
	height: 50px;
	position: relative;

}
.navigation > ul{
		position: absolute;
		display: block;
		top: 100%;
		width: 300px;
		background: #000;
		left: -500px;
		transition: 0.4s;
		max-height: calc(100vh - 52px);
		height: 100vh;
		overflow-y: auto;
}
.navigation > ul.active {
left: 0;
}
.navigation {
	position: static;
}
.mobile-menu { 
	position: absolute;
	    margin-top: 38px;
}

.header {
	position: absolute;
	top:0;
}
.main {
	padding-top:200px;
}

.info-wrap {
	display: inline-block;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.info-wrap .left-text {
	width: 100%;
}
.info-wrap .middle-text {
	width: 100%
}
.info-wrap .right-text {
	width: 100%;
}
.header .enter {
	display: none;
}
#toggle:checked + .navigation {
	display: block;
}
.contact-log-wrap{
	
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
}
.contact-info {
	width: 100%;
	
	
}
.register-wrap {
	width: 100%;
	margin-top: 20px;

	
}
.news-log-wrap {
	
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
}
.news-main {
	width: 100%;
}
.photo-galary {
	width: 100%;
	    padding: 55px 0 55px 0;
}
.photo-wrap {
 
        margin:0 auto;
    }
.footer-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.socials {
	margin: 15px 0;
}
.news-main button {
    width: 100%;
}
.datetime-wrap {
    width: 100%;
    display: flex;
}
.name-tel-wrap {
	width: 100%;
    display: flex;
}
.contact-info button {
    cursor: pointer;
    margin-right: 10px;
    width: 46%;
}
.breadcrumb {
    
    margin: 0 auto;
}
.title-shop {
	text-align: center;
}
.manufacturers {
	    flex-wrap: wrap; 
    justify-content: center;
    width: 100%;
}
.photo-price {
    width: 100%;
    justify-content: space-around;
}
.radio-manuf {
    height: 100%;
}
.checkbox-manuf {
    text-align: center;
}
.manufacturers-aside {
    width: 37%;
    margin-bottom: 15px;
}
.scroll-pages {
    padding: 45px 0 50px 0;
    justify-content: center;
}
.wrapper {
    
    padding-top: 63px;
}
.login>a {
   
    position: absolute;
    right: 0;
    top: 0;
}
.mobile-menu {
    position: absolute;
    
    top: 0;
    }
.header {
    position: absolute;
    top: 0;
    background: #000;
    padding-bottom: 17px;
}
.socials {
    width: 20%;
}
.manuf2 {
	    width: 49%;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
@media only screen and (max-width: 480px) {
.popup {
	max-width: 96%;
	padding: 45px 20px;
	
}
.photo-price {
	    flex-wrap: wrap;
	    justify-content: center;
}
.Baxter-wrapper {
    width: 46%;
    background: #fff;
    margin-right: 10px;
    margin-top: 5px;
}
.manufacturers-aside {
    width: 58%;
}
.socials {
    width: 35%;
}
.manuf2 {
    width: 100%;
}
.squere {
    padding-right: 7px;
    margin: 0 5px;
}